:root {
  --primary-bg: #1f2937;
  --cta-bg: #3882f6;
  --quote-bg: #e5e7eb;
  --hero-text: #f9faf8;
}

.container {
  display: flex;
  flex-flow: column nowrap;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav ul {
  list-style-type: none;
}

.top-nav {
  display: flex;
}

.top-nav li {
  margin: 0 1rem;
}

.header {
  display: flex;
  justify-content: space-evenly;
}

.header-content {
  width: 400px;
}

.figure-content-heading {
  text-align: center;
  margin-bottom: 1rem;
}

.figure-container {
  display: flex;
  width: 600px;
  margin: 0 auto;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.figure-container>figure {
  flex-basis: 100px;
}

.box {
  height: 100px;
  width: 100px;
  border-radius: 16px;
  border: 3px solid #3882f6;
}

.quote-container {
  display: flex;
  width: 600px;
  margin: 0 auto;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.quote-author {
  display: flex;
  width: inherit;
  justify-content: end;
}

.cta-banner-container {
  display: flex;
  width: 600px;
  flex-flow: column wrap;
}

.cta-copy-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.cta-content-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.footer-container {
  display: flex;
  height: 75px;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

/* Typography */

.roboto-300 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.roboto-400 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.roboto-700 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.roboto-900 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Styles */

.header-logo {
  text-decoration: none;
  font-size: 24px;
  color: var(--hero-text);
}

.nav {
  padding: 1rem;
  background: var(--primary-bg)
}

.top-nav li>a {
  color: var(--quote-bg);
  font-size: 18px;
  text-decoration: none;
}