.container {
  display: flex;
  flex-flow: column nowrap;
}

.nav {
  display: flex;
  justify-content: space-around;
}

.nav ul {
  list-style-type: none;
}

.top-nav {
  display: flex;
}

.top-nav li {
  margin: 0 1rem;
}