:root {
  --primary-bg: #1f2937;
  --cta-bg: #3882f6;
  --quote-bg: #e5e7eb;
  --hero-text: #f9faf8;
}

.container {
  display: flex;
  flex-flow: column nowrap;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav ul {
  list-style-type: none;
}

.top-nav {
  display: flex;
}

.top-nav li {
  margin: 0 1rem;
}

.header {
  display: flex;
  justify-content: space-evenly;
}

.header-content {
  width: 400px;
}

.info-container {
  height: 400px;
}

.figure-content-heading {
  text-align: center;
  margin-bottom: 1rem;
}

.figure-container {
  display: flex;
  width: 800px;
  margin: 0 auto;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.figure-container>figure {
  flex-basis: 150px;
}

.box {
  height: 150px;
  width: 150px;
  border-radius: 16px;
  border: 3px solid #3882f6;
}

.quote-container {
  display: flex;
  width: 600px;
  margin: 0 auto;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.quote-author {
  display: flex;
  width: inherit;
  justify-content: end;
}

.cta-banner-container {
  display: flex;
  width: 600px;
  flex-flow: column wrap;
}

.cta-copy-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.cta-content-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.footer-container {
  display: flex;
  height: 75px;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

/* Typography */

.roboto-300 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.roboto-400 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.roboto-700 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.roboto-900 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Styles */

.header-logo {
  text-decoration: none;
  font-size: 24px;
  color: var(--hero-text);
}

.nav {
  padding: 1rem;
  background: var(--primary-bg)
}

.top-nav li>a {
  color: var(--quote-bg);
  font-size: 18px;
  text-decoration: none;
}

.header {
  background: var(--primary-bg);
  color: var(--hero-text);
  padding-bottom: 5rem;
}

.hero-heading {
  font-size: 48px;
  line-height: 1.2;
}

.btn {
  text-decoration: none;
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
}

.btn-signup {
  background: var(--cta-bg);
  color: var(--hero-text);
}

.hero-copy {
  margin-bottom: 1rem;
}

.figure-content-heading {
  font-size: 36px;
  color: var(--primary-bg);
  margin-top: 1rem;
}

.figure-container figcaption {
  color: var(--primary-bg);
  text-align: center;
}

.quote-content {
  background: var(--quote-bg);
}

.quote-container {
  height: 500px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.quote-text {
  font-size: 36px;
  font-style: italic;
  color: var(--primary-bg);
}

.quote-author {
  font-size: 18px;
  color: var(--primary-bg);
}

.cta-content-container {
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
  color: var(--hero-text);
}

.cta-banner-container {
  width: 800px;
  background: var(--cta-bg);
  border-radius: 10px;
  padding: 2rem 4rem;
}

.cta-copy-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
}

.cta-heading {
  width: 300px;
}

.btn-cta {
  border: 3px solid var(--hero-text);
  color: var(--hero-text);
}

.footer {
  color: var(--hero-text);
  background: var(--primary-bg);
}