.container {
  display: flex;
  flex-flow: column nowrap;
}

.nav {
  display: flex;
  justify-content: space-around;
}

.nav ul {
  list-style-type: none;
}

.top-nav {
  display: flex;
}

.top-nav li {
  margin: 0 1rem;
}

.header {
  display: flex;
  justify-content: space-evenly;
}

.header-content {
  width: 400px;
}

.figure-content-heading {
  text-align: center;
  margin-bottom: 1rem;
}

.figure-container {
  display: flex;
  width: 600px;
  margin: 0 auto;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.figure-container>figure {
  flex-basis: 100px;
}

.box {
  height: 100px;
  width: 100px;
  border-radius: 16px;
  border: 3px solid #3882f6;
}